{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content%}
<div class="container">
 <ul>
    <li class="text-center bg bg-success news"> DAILY UPDATES</li>
    <hr>

    {{ macro.displaySourceList(general_sources)}}

    <li class="text-center bg bg-success news"> ALL ABOUT SCIENCE</li>
    <hr>

    {{ macro.displaySourceList(science_sources)}}

    
    <li class="text-center bg bg-success news"> BUSINESS </li>
    <hr>

    {{ macro.displaySourceList(business_sources)}}

    
    
    <li class="text-center bg bg-success news"> WORLD TECNOLOGY </li>
    <hr>

    {{ macro.displaySourceList(technology_sources)}}

    
    <li class="text-center bg bg-success news"> HEALTH AND HYGIENE </li>
    <hr>

    {{ macro.displaySourceList(health_sources)}}


    
    <li class="text-center bg bg-success news"> ENTERTAINMENT AND Gossip</li>
    <hr>

    {{ macro.displaySourceList(entertainment_sources)}}


    
    <li class="text-center bg bg-success news"> SPORTS </li>
    <hr>

    {{ macro.displaySourceList(sports_sources)}}
 </ul>
</div>


{%endblock%}