{% extends 'base.html'%}


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
{% endblock %}


{% block content%}
<div class="container">
    <h3 class="text-center"> Top News</h3>
    {% for article_row in articles | batch(10)%}

    <div class="row">
        {% for article in article_row %}
        <div class="col-md-4 news-details">
            <div class="thumbnail">
                <a href="{{article.url}}" target="_blank">
                    <img src="{{article.image}}" alt="{{article.title}}" class="img-responsive" styles="height:45px">
                </a>
                <div class="caption">
                    <h4><a href="{{article.url}}" target="_blank">{{article.title |truncate(40)}}</a></h4>
                    <p>{{article.description | truncate(90)}}</p>
                    <a href="{{article.url}}" target="_blank"> learn More</a>
                </div>
                <div class="footer">
                    Published at: {{article.date}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


{%endblock%}